/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
/*reset/*/

/*rule general*/

body{
    background-color: #f6f8fa;
}

.header{
    height: 64px;
    background-color: white;
}

.container{
    width: 790px;
    height: 590px;
    background-color: white;
    margin: 40px auto;
}

.margin-page{
    margin-left: 50px;
    margin-top: 34px;
}

hr{
    height: 3px;
    background-color: #f6f8f9;
    border: 0;
    margin-top: 7px;
}

h2{
    margin-bottom: 14px;
}
/*rule general/*/

/*header*/

h1{
    display: inline-block;
    width: 176px;
    vertical-align: middle;
}

.img{
    vertical-align: middle;
}

/*header/*/

/*botton*/

.addtask{
    color: white;
    background-color:#47acee;
    padding: 7px 10px;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    border-color: #47acee;
    border: solid 2px;
    margin-left: 50px;
    margin-top: 15px;
}

.section{
    color: #cbcbcb;
    padding: 7px 10px;
    display: inline-block;
    font-size: 15px;
    border: solid 2px;
    border-radius: 5px;
    border-color:#cbcbcb;
    margin-top: 15px;  
}

/*botton/*/

/*check and x*/

.check{
    border: solid 1px;
    border-radius: 50%;
    border-color: #64c0a8;
    color: #64c0a8;
    padding: 2px 3px;
    margin-right: 5px;
    vertical-align: middle;
    font-size: 10px
}

.freccia{
    font-size: 20px;
}

/*check and x/*/

/*botton color and grapich*/

.botton-color-blue{
    background-color: #47acee;
}

.graphic{
    color: white;
    font-size: 10px;
    border-radius: 11px;
    padding: 5px 9px;
}


